<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JRunUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuickCutsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <JRunUI.Properties.Settings>
            <setting name="ConsoleWindowWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ConsoleWindowHeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConsoleWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsoleWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackColorString" serializeAs="String">
                <value>#99004488</value>
            </setting>
            <setting name="BorderColorString" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TextColorString" serializeAs="String">
                <value>#FFFFAA00</value>
            </setting>
            <setting name="ErrorColorString" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="TextBackColorString" serializeAs="String">
                <value>#99000000</value>
            </setting>
            <setting name="HotKeyString" serializeAs="String">
                <value>Alt + Space</value>
            </setting>
            <setting name="bStartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandListProgram" serializeAs="String">
                <value>QuickCuts.exe -file=Commands.txt -profile=Default -list</value>
            </setting>
            <setting name="CommandExecuteProgram" serializeAs="String">
                <value>QuickCuts.exe -file=Commands.txt -profile=Default {cmd} {args}</value>
            </setting>
        </JRunUI.Properties.Settings>
        <QuickCutsUI.Properties.Settings>
            <setting name="ConsoleWindowWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ConsoleWindowHeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ConsoleWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsoleWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackColorString" serializeAs="String">
                <value>#99004488</value>
            </setting>
            <setting name="BorderColorString" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TextColorString" serializeAs="String">
                <value>#FFFFAA00</value>
            </setting>
            <setting name="ErrorColorString" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="TextBackColorString" serializeAs="String">
                <value>#99000000</value>
            </setting>
            <setting name="HotKeyString" serializeAs="String">
                <value>Alt + Space</value>
            </setting>
            <setting name="bStartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommandListProgram" serializeAs="String">
                <value>QuickCuts.exe -file Commands.txt -profile Default -list</value>
            </setting>
            <setting name="CommandExecuteProgram" serializeAs="String">
                <value>QuickCuts.exe -file Commands.txt -profile Default</value>
            </setting>
            <setting name="HelpURL" serializeAs="String">
                <value>https://github.com/cj3j/QuickCuts</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>2.0</value>
            </setting>
        </QuickCutsUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
